clojure/.boot/
clojure/resources/public/
clojure/resources/uploads/
clojure/resources/bin/
clojure/.nrepl-port
clojure/.repl-history
clojure/.lein-*
clojure/target
clojure/classes
clojure/checkouts
.DS_Store

electron/node_modules/.bin
electron/node_modules/electron*
