.loader {
	transition: height 0.2s ease-in-out, padding 0.2s ease-in-out;
	position: relative;
}

.loader .wrapper.loading {
	display: none;
}
.loader.loading .wrapper.loading {
	display: flex;
	justify-content: space-around;
}
.loader.loading .wrapper.content {
	display: none;
}

.loader .checkmark {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--blue);
}

.loader .checkmark .label {
	text-align: center;
}

.loader .checkmark .icon {
	border: 2px solid currentColor;
	height: 30px;
	width: 30px;
	margin-bottom: 0.5em;
	border-radius: 17px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	box-sizing: content-box;
}

.loader .checkmark .icon::before {
	content: '';
	background-color: currentColor;
	width: 0;
	height: 0;
	border-radius: 17px;
	transition: all 0.35s ease-out;
}

.loader .checkmark.error {
	color: var(--red);
}

.loader .checkmark.complete {
	color: var(--navy);
}

.loader .checkmark.used-cache {
	color: var(--green);
}

@keyframes pulse {
	0% {
		transform: scale3d(0.9, 0.9, 0.9);
	}
	50% {
		transform: scale3d(1.3, 1.3, 1.3);
	}
	100% {
		transform: scale3d(0.9, 0.9, 0.9);
	}
}

.loader .checkmark.active .icon::before {
	animation: pulse 2s infinite;
	width: 16px;
	height: 16px;
}

.loader .checkmark.complete .icon::before {
	width: 32px;
	height: 32px;
}

.loader .checkmark[data-time]::after {
	font-size: 0.85em;
	content: attr(data-time);
}
