:root {
	--blue: #00add9;
	--green: #a3d65c;
	--teal: #00827e;
	--red: #e84a36;
	--black: #242121;
	--dark-gray: #53585a;
	--medium-gray: #e0dad6;
	--light-gray: #f7f5f2;
	--white: #fff;
	--navy: #233746;
}
